.mainContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 52px; 
}

.timetableList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px; 
  align-self: stretch;
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.recommendListWrapper {
  display: flex;
  overflow-x: scroll; 
  overflow-y: hidden; 
  gap: 16px; 
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.recommendListWrapper::-webkit-scrollbar {
  display: none;
}