.alarmContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #F5F5F5;
    background: #F5F5F5;
    padding: 14px 12px;
    border-radius: 8px;
    margin: 30px 0px;
}

.pushpin{
    padding-right: 12px;
}

.concertName{
    font-weight: 600;
    font-size: 12px;
    color: #8D4E99;
    padding-right: 2px;
}

.subText{
    font-weight: 500;
    font-size: 12px;
}

.concertData{
    font-weight: 500;
    font-size: 12px;
    color: #8D4E99;
    padding: 0 2px;
}

.textWrap {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}