/* header UI  */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 31px;
}

.iconDiv {
  display: flex;
  align-items: center;
}
.iconDiv img {
  height: 22px;
  width: 22px;
}
.searchIcon {
  margin-right: 20px;
}
/* header UI */

/* 메뉴 창 */
.overlay {
  position: fixed;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translate(-50%);
  width: 100%;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  z-index: 999;
}
.menuDiv {
  position: absolute;
  background-color: #ffffff;
  width: calc(100% - 55px);
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
}
.menuDiv.show {
  transform: translateX(0);
}
/* 메뉴 창 */
