.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.title {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteBtn {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: end;
}
.deleteBtn span {
  font-size: 12px;
  color: #ea4335;
  cursor: pointer;
}
.onDeleteBtn span {
  font-size: 12px;
  color: #d1d1d1;
  cursor: pointer;
}

/* 밴드 아이템 */
.grid {
  display: grid;
  padding: 10px 20px 40px 20px;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
}
.grid > :nth-child(odd) {
  justify-self: start;
}

.grid > :nth-child(even) {
  justify-self: end;
}
@media (min-width: 500px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid > :nth-child(3n + 1) {
    justify-self: start;
  }

  .grid > :nth-child(3n + 2) {
    justify-self: center;
  }

  .grid > :nth-child(3n + 3) {
    justify-self: end;
  }
}

.bandItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkBoxDiv {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 18px;
}
.checkBox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.bandProfile {
  display: flex;
  justify-content: start;
  width: 100%;
}
.bandProfile {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #d1d1d1;
}
.bandName {
  margin-top: 10px;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 600;
}
/* 밴드 아이템 */
