/* 검색창 */
.inputDiv {
  display: flex;
  align-items: center;
}
.inputDiv img {
  height: 22px;
  width: 22px;
}
.inputDiv input {
  flex: 1;
  height: 28px;
  border: none;
  border-bottom: 1px solid #1a1a1a;
  font-size: 14px;
}
.inputDiv input::placeholder {
  color: #d1d1d1;
  font-size: 14px;
}
.inputDiv input:focus {
  outline: none;
}
.inputDiv input:focus::placeholder {
  color: transparent;
}
.searchIcon {
  margin-right: 15px;
}
.menuIcon {
  margin-left: 15px;
}
/* 검색창 */

/* 최근 검색어 */
.recentSearchDiv {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.recentSearchHeader {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: bold;
}
.recentSearchList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 16px;
}
.recentSearchItem {
  font-size: 10px;
  color: #8f8f8f;
  display: flex;
  align-items: center;
}
.xIcon {
  margin-left: 7px;
}
/* 최근 검색어 */

/* 추천 검색어 */
.recommendSearchDiv {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.recommendSearchHeader {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: bold;
}
.recommendSearchList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 16px;
}
.recommendSearchItem {
  color: #1a1a1a;
  font-size: 10px;
  cursor: pointer;
}
/* 추천 검색어 */

/* 검색 후 */
.searchResultDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.festivalAndBand {
  display: flex;
  align-items: center;
  width: calc(100% + 40px);
  padding: 0 20px;
  box-sizing: border-box;
  height: 65px;
  /* border: 1px solid black; */
  border-bottom: 1px solid #ebebeb;
}
.festivalDiv,
.bandDiv {
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.festival,
.band {
  font-size: 12px;
  font-weight: bold;
}
.count {
  font-size: 10px;
  background-color: rgba(198, 108, 217, 0.2);
  border-radius: 10px;
  padding: 0 6px;
  text-align: center;
  margin-left: 3px;
}
.selected {
  color: #693c73;
}
.default {
  color: #8f8f8f;
}
/* 검색 후 */
