.recommendCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.cardThumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 3/4;
}



.cardInfo {
  margin-bottom: 8px;
}

.cardTitle {
  color: var(--g-100, #1a1a1a);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  width: 132px;
  margin: 0;
  align-self: stretch;
  margin-bottom:3px;
}

.cardDate {
  color: var(--g-60, #8f8f8f);
  align-self: stretch;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
  margin: 0;
}

.customButton {
  cursor:pointer;
  display: flex;
  width: 132px;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background: linear-gradient(
      90deg,
      rgba(230, 155, 245, 0.5) 0%,
      rgba(146, 3, 173, 0.5) 53.37%,
      rgba(254, 169, 66, 0.5) 100%
    ),
    #fff;
}