/* src/css/components/recommendcard.module.css */

/* 추천 카드 (RecommendCard) 스타일 */
.recommendCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

/* 카드 썸네일/포스터 영역 */
.cardThumbnail {
  display: flex;
  width: 132px;
  height: 176px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 3/4;
}

.cardThumbnail img {
  width: 132px;
  height: 176px;
  aspect-ratio: 3/4;
  position: absolute;
}

/* 카드 정보 영역 */
.cardInfo {
  margin-bottom: 8px;
}

.cardTitle {
  color: var(--g-100, #1a1a1a);
  /* medium/12 */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  width: 132px;
  height: 30px;
  margin: 0;
  align-self: stretch;
}

.cardDate {
  color: var(--g-60, #8f8f8f);
  align-self: stretch;
  /* regular/10 */
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
  margin: 0;
}

.customButton {
  display: flex;
  width: 132px;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  /* 테두리(border) 제거 */
  border: none;
  /* 텍스트 색상을 흰색으로 설정 */
  color: #fff;
  background: linear-gradient(
      90deg,
      rgba(230, 155, 245, 0.5) 0%,
      rgba(146, 3, 173, 0.5) 53.37%,
      rgba(254, 169, 66, 0.5) 100%
    ),
    #fff;
}
