@font-face {
  font-family: 'JejuGothic';
  src: url('../../assets/fonts/JejuGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeOut { 
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.splash-container {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
  height: 100vh; 
  animation: fadeOut 1s forwards;
}

.headline {
  display: flex;
  flex-direction: column;
  font-weight: 400; 
  font-family: 'JejuGothic';
  font-size: 40px;
  gap: 3px;
  margin-top: 140px;
  margin-left: 16px;
}

.brand{
  text-align: center;
  margin-bottom: 12px;
}