html {
  height: auto;
  min-height: 100%;
}

body {
  margin: auto;
  padding: 0;
  max-width: 600px;
  min-height: 100dvh;
  overflow-y: auto;
  font-family: "Inter", sans-serif;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

#root {
  min-height: 100%;
}

.layoutContainer {
  min-height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: visible;
}
