body {
  margin: auto;
  padding: 0;
  max-width: 600px;

  height: 100svh;
  overflow: hidden;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  background-color: #f5f5f5;
}
#root {
  height: 100%;
}
.layoutContainer {
  height: 100%;
}
