body {
  margin: auto;
  padding: 0;
  max-width: 600px;
  height: 100svh;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
#root {
  height: 100%;
}
.layoutContainer {
  height: 100%;
  padding: 20px;
}
ul,
li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
